[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
rotation_distance: 22.9546814
gear_ratio: 50:10              #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200
max_extrude_cross_section: 5 
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: can0: HE0
sensor_type: Generic 3950
sensor_pin: can0: TH0
min_temp: 10
max_temp: 280
pwm_cycle_time: 0.02
smooth_time: 0.5
max_power: 0.8
control: pid
pid_Kp: 26.112
pid_Ki: 1.956
pid_Kd: 87.154

##  E0 on MCU X/Y
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2240 extruder]
cs_pin: P1.4
#uart_pin: P1.4
interpolate: false
run_current: 0.8
rref: 12000
stealthchop_threshold: 0
spi_speed: 500000

spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5

stealthchop_threshold: 999999 #was 999999
#   The velocity (in mm/s) to set the "stealthChop" threshold to. When
#   set, "stealthChop" mode will be enabled if the stepper motor
#   velocity is below this value. The default is 0, which disables
#   "stealthChop" mode.
driver_IHOLDDELAY: 8 #This inserts a small delay before entering stationary hold mode.
driver_IRUNDELAY: 2 #This gives a slight ramp-up time when starting the motor.
#driver_TPOWERDOWN: 10
driver_TBL: 3
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 4
#driver_FD3: 0
driver_TPFD: 0
#driver_CHM: 0
#driver_VHIGHFS: 0
#driver_VHIGHCHM: 0
##driver_DISS2G: 0
#driver_DISS2VS: 1
driver_PWM_AUTOSCALE: True # AutoTuning
driver_PWM_AUTOGRAD: True  #AutoTuning
#driver_PWM_FREQ: 2
#driver_FREEWHEEL: 0
driver_PWM_GRAD: 12 # This should be calculated for your particular motor, but this is a sensible default for most pancake extruder steppers.
driver_PWM_OFS: 36 #40 #This should be calculated for your particular motor, but this is a sensible default for most pancake extruder steppers.
driver_PWM_REG: 15 #This sets the autotuning rate to maximum.
driver_PWM_LIM: 12 #This sets the mode-switching current jerk compensation to minimum. This may not be strictly necessary.
driver_SGT: 35 #This may need adjusted for your particular setup, more on this later. This setting is the stallguard threshold, also used 
               #for sensorless homing, but on the TMC 2240 it also controls the sensitivity of the autotuning process
driver_SEMIN: 3 ###1
#driver_SEUP: 2  ##2
driver_SEMAX: 3 ###3
#driver_SEDN: 1
#driver_SEIMIN: 1  ###1
#driver_SFILT: 0 #1
#driver_SG4_ANGLE_OFFSET: 1
#   Set the given register during the configuration of the TMC2240
#   chip. This may be used to set custom motor parameters. The
#   defaults for each parameter are next to the parameter name in the
#   above list.
diag0_pin: ^!1.26
#diag1_pin:
#   The micro-controller pin attached to one of the DIAG lines of the
#   TMC2240 chip. Only a single diag pin should be specified. The pin
#   is "active low" and is thus normally prefaced with "^!". Setting
#   this creates a "tmc2240_stepper_x:virtual_endstop" virtual pin
#   which may be used as the stepper's endstop_pin. Doing this enables
#   "sensorless homing". (Be sure to also set driver_SGT to an
#   appropriate sensitivity value.) The default is to not enable
#   sensorless homing.

[gcode_macro configure_extruder]
gcode:
  SET_TMC_FIELD STEPPER=extruder FIELD=IHOLD VALUE=0
  #Helps cool motor at idle
  SET_TMC_FIELD STEPPER=extruder FIELD=freewheel VALUE=1 
  # Enable accurate stall current measurement
  SET_TMC_FIELD STEPPER=extruder FIELD=pwm_meas_sd_enable VALUE=1
  SET_TMC_FIELD STEPPER=extruder FIELD=sg4_filt_en VALUE=1
  # Set the StealthChop stall detection threshold (may not be completely necessary)
  SET_TMC_FIELD STEPPER=extruder FIELD=SG4_THRS VALUE=10 #180
  # Set the max expected velocity to a value such that we are unlikely to switch to fullstepping except during a very fast retraction or prime
  SET_TMC_FIELD STEPPER=extruder FIELD=THIGH VELOCITY=50
  # Never use CoolStep, this is an extruder, we will never be moving fast enough for it to work
  SET_TMC_FIELD STEPPER=extruder FIELD=TCOOLTHRS VALUE=4000
  # But do switch to PWM autotuning when at high flow
  SET_TMC_FIELD STEPPER=extruder FIELD=TPWMTHRS VELOCITY=1
  # Set the temperature prewarning to something reasonable. Cosmetic, Klipper does nothing with this
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERTEMPPREWARNING_VTH VALUE=2885 # 7.7 * 100 C + 2038
  # The following is absolutely critical: set the overvoltage snubber to a sensible voltage.
  # This should be set to about 0.8 V above your power supply's idle voltage.
  # Your PSU voltage can be read from the TMC 2240 by issuing a GCODE command:
  # DUMP_TMC stepper=extruder register=ADC_VSUPPLY_AIN
  # The voltage is the value of adc_vsupply divided by 0.00732
  {% set v = (25.23/0.009732)|int %}
  SET_TMC_FIELD STEPPER=extruder FIELD=OVERVOLTAGE_VTH VALUE={ v }