[gcode_macro _configure_tmc_autotune]
gcode:
  {% set M = params.MOTOR|default("17HM19-2004S") %}
  {% set d = printer["gcode_macro _motor_data"].motors[M] %}
  # Coil resistance, Ohms
  {% set R = d["R"] %}
  # Coil inductance, Henries
  {% set Ic = d["Ic"] %}
  # Holding torque, Newton-meters
  {% set T = d["T"] %}
  # Coil current, nominal, Amps
  {% set C = d["C"] %}
  # steps per revolution
  {% set steps = d["S"] %}
  # drive voltage
  {% set V = params.V|default(24.0)|float %}
  # clock frequency, all current devices use internal clock at 12.5 MHz
  {% set fclk = 12.5e6 %}
  
  {% set cbemf = T / (2 * C) %}
  {% set pwmgrad = (cbemf * 2 * 3.141 * fclk  * 1.46 / (24 * 256 * steps)) |int %}
  {% set pwmofs = (374 * R * Ic / V) |int %}

  SET_TMC_FIELD STEPPER={params.S} FIELD=PWM_AUTOGRAD VALUE=1
  SET_TMC_FIELD STEPPER={params.S} FIELD=PWM_AUTOSCALE VALUE=1
  SET_TMC_FIELD STEPPER={params.S} FIELD=PWM_GRAD VALUE={ pwmgrad }
  SET_TMC_FIELD STEPPER={params.S} FIELD=PWM_OFS VALUE={ pwmofs }

  {% if printer.configfile.settings['tmc2240 '+params.S] is defined %}
    {% set drv = printer.configfile.settings['tmc2240 '+params.S] %}
  {% endif %}
  {% if printer.configfile.settings['tmc2209 '+params.S] is defined %}
    {% set drv = printer.configfile.settings['tmc2209 '+params.S] %}
  {% endif %}
  {% if drv is defined %}
    {% set tbl = drv.driver_tbl |int %}
    {% set tblank = 16 * (1.5 ** tbl) / fclk %}
    {% set toff = drv.driver_toff |int %}
    {% set tsd = (12 + 32 * toff) / fclk %}
    {% set dcoilblank = V * tblank / Ic %}
    {% set dcoilsd = R * C * 2 * tsd / Ic %}
    {% set hstartmin = [0.5 + ((dcoilblank + dcoilsd) * 2 * 248 * 32 / Ic) / 32 - 8, -2] | sort | first %}
    {% set hstrt = [[hstartmin, 8] | sort | first, 1] | sort | last - 1 %}
    {% set hend = [hstartmin + 1 - hstrt, 12] | sort | first + 3 %}
    SET_TMC_FIELD STEPPER={params.S} FIELD=HSTRT VALUE={ hstrt }
    SET_TMC_FIELD STEPPER={params.S} FIELD=HEND VALUE={ hend }
  {% endif %}

[gcode_macro _config_tmc]
gcode:
    SET_TMC_CURRENT STEPPER={params.S} CURRENT={params.C}
    SET_TMC_FIELD STEPPER={params.S} FIELD=en_pwm_mode VALUE={params.P}
    SET_TMC_FIELD STEPPER={params.S} FIELD=TCOOLTHRS VELOCITY={params.VC}
    SET_TMC_FIELD STEPPER={params.S} FIELD=THIGH VELOCITY={params.VH}

[gcode_macro _config_tmc_xy]
gcode:
    _config_tmc S=stepper_x P={params.P} VC={params.VC} VH={params.VH} C={params.C}
    _config_tmc S=stepper_y P={params.P} VC={params.VC} VH={params.VH} C={params.C}

[gcode_macro _config_tmc_xy_home]
gcode:
    {% set M = printer["gcode_macro config_tmc_global"].xy_motor %}
    {% set E = printer["gcode_macro config_tmc_global"].extruder_motor %}
    _configure_tmc_autotune S=stepper_x MOTOR={M}
    _configure_tmc_autotune S=stepper_y MOTOR={M}
    # Do this for the extruder while we're here
    _configure_tmc_autotune S=extruder MOTOR={E}
    _config_tmc_xy P=0 VC=0 VH=0 C={params.CURRENT}

[gcode_macro _config_tmc_xy_run]
variable_pwm_mode: 1
variable_vcool: 60
variable_vhigh: 200
gcode:
    # Don't configure autotune again, we should already be tuned and do not want to reset that.
    {% set P = printer["gcode_macro config_tmc_global"].pwm_mode %}
    {% set VC = printer["gcode_macro config_tmc_global"].vcool %}
    {% set VH = printer["gcode_macro config_tmc_global"].vhigh %}
    _config_tmc_xy P={P} VC={VC} VH={VH} C={params.CURRENT}


# Homing macros

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2240 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2240 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.9 %}
    _config_tmc_xy_home CURRENT={HOME_CURRENT}

    # Home
    G28 X
    # Pause for AT1
    G4 P150
    # Set current during print
    _config_tmc_xy_run CURRENT={RUN_CURRENT_X}

    # Move away
    G91
    G1 X-20 F1200
    G90

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P700



[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2240 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2240 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.9 %}
    _config_tmc_xy_home CURRENT={HOME_CURRENT}

    # Home
    G28 Y
    # Pause for AT1
    G4 P150
    # Set current during print
    _config_tmc_xy_run CURRENT={RUN_CURRENT_X}

    # Move away
    G91
    G1 Y-20 F1200
    G90

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P700


[homing_override]
set_position_z:10
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  G91
  G1 Z20 F600
  G90

  {% if home_all or 'X' in params or 'Z' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params or 'Z' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
   
    G0 X199 Y298 F3600
    G28 Z
    G1 Z15 F4000
    G1 X150 Y150 F4000
  {% endif %}